html * {
  margin: 0; 
  padding: 0;
}

body {
  font-family: sans-serif;
  font-size: 15px;
  color: #24292e;
}

.flex {
  display: flex;
  align-items: center;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}